<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<!-- begin of custom meta -->
		<meta property="og:title" content="Caninclude">
		<meta property="og:description"
			content="'Caninclude' tool to help determine if one HTML tag can be included in another HTML tag">
		<meta property="og:image"
			content="https://cdn.glitch.me/19f7087b-7781-4727-9c59-2100bafabbf2%2Ffront.png?v=1638616243086">
		<meta property="og:url" content="https://caninclude.glitch.me/">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:site_name" content="Caninclude">
		<meta name="twitter:title" content="Caninclude">
		<meta name="twitter:description"
			content="'Caninclude' tool to help determine if one HTML tag can be included in another HTML tag">
		<meta name="twitter:image"
			content="https://cdn.glitch.me/19f7087b-7781-4727-9c59-2100bafabbf2%2Ffront.png?v=1638616243086">
		<meta name="twitter:image:alt" content="Caninclude">
		<!-- end of custom meta -->
		<script>
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script>
		<% preact.headEnd %>
	</head>
	<body class="bg-gray-50 dark:bg-gray-900 text-black dark:text-gray-200 min-h-screen">
		<% preact.bodyEnd %>
	</body>
</html>
